.navbar-inverse {
   background-color: transparent;
   border-color: transparent;
   
}

nav.shrink {
    background-color: rgba(34, 34, 34, 0.55);
    height:60px;
    padding-top: 0px;

}
.layer {
    background-color: rgba(34, 34, 34, 0.55);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}
.container{
    overflow: auto;
}
.about-image {
   height:300px;
    background-size: 100px 60px;
    max-width: 100%;
    height: auto;
    display:block;
    background-repeat: no-repeat;

}
#landing {
    padding: 220px 0 220px 0;
}
.welc{
    margin-top:23%;
    font-size: 50px;
   
}

#bg-container {
  background-image: url('item.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
  width: 100%;
  height: 100vh;
  left: 0 !important;
  
  top: 0;
  overflow: auto;
}

#tagline {
  color: whitesmoke;
}
#subscribe .parallax-container {
      height: 320px;
    }



.stats-count {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 45px;
    margin-right: 20px;
    text-align: center;
    float: left;
    color: #01b1d7;
}

.stats {
    padding: 200px 0;
    text-align: center;
    width: 90px;
    height: 200px;
}
.stats-caption {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    box-sizing: border-box;
    text-align: centre;
}

.form-group {
    margin-bottom: 15px;
    padding-top: 100px;
}
.section-heading h1 {
    font-size: 28px;
    letter-spacing: 0.05em;
}
.features-col-title h4 {
    font-size: 15px;
    letter-spacing: 0.04em;
    line-height: 20px;
    font-weight: bold; 
}
.features-col-title {
    margin: 0 0 25px 0;
}

.portfolio-picture {
    width: 100%;
    height: 300px;
    
}
.portfolio-item{
    width:100%;
}
.portfolio-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(34, 34, 34, 0.55);;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}
.portfolio-item:hover .portfolio-overlay {
  height: 100%;
}
